body {
    background-color: beige;
    background-image: url("white-wood.jpg");
}

h1 {
    color: black;
}

.container {
    text-align: center;
}

.row {
    display: inline-block;
}

#container, #image, #picture {
    text-align: center;
}

table {
    display: inline-block;
}